body {font-family: Arial, Helvetica, sans-serif;}
body  {background-image: url('plate.jpg');}

h3 {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 5px dodgerblue;
}

* {box-sizing: border-box;}
/* "achtergrond" van de textvakken */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 5px;
    resize: vertical;
}
/*verzendknop*/
input[type=submit] {
    background-color: midnightblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
    background-color: darkred;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=reset]:hover {
    background-color: red;
}

input[type=submit]:hover {
    background-color: deepskyblue;
}

.container {
    border-radius: 5px;
    background-color: royalblue;
    padding: 20px;
}

a {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

a:hover {
    background-color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #333;
}

.active {
    background-color: #4CAF50;
}