body {background-image: url('matrix.jpg');}
h3 { font-size: 20px;
color: midnightblue}
p {padding: 10px 10px;}

div.transbox {margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;}

  a:link {color: blue;
    background-color: transparent;
    text-decoration: none;}

  a:visited {color: mediumblue;
    background-color: transparent;
    text-decoration: none;}

  a:hover {color: cornflowerblue;
    background-color: transparent;
    text-decoration: underline;}

  a:active {color: yellow;
    background-color: transparent;
    text-decoration: underline;}
